<% if current_user.try(:admin?) %>
  <h2>ブログ記事一覧(管理ユーザー)</h2>
<% else %>
  <h2>ブログ記事一覧</h2>
<% end %>

<div class="index">
  <div class="col-sm-8 container">
  <%= search_form_for @q do |f| %>
    <%= f.label :title_or_content, 'キーワードで検索' %>
    <%= f.search_field :title_or_content_cont, class: "form-control", :placeholder => "あいまいなワードで検索"%> 
    <%# カラム名_contメソッド---検索したワードであいまい検索 %>
    <%# search_fieldにすると、右側にバツが表示 %>
    <br>
    <%= f.submit '検索', class: 'btn btn-default'%>
  <% end %>
  <%= sort_link(@q, :title, "タイトルで並び替え") %>
  <div class="scroll-list jscroll">
    <% @blogs.each do |blog| %>     
    <article>
      <h3><%= blog.title %></h3>
      <p><%= blog.content.truncate(25) %></p>
      <p class="morebt">
        <%= link_to 'もっと見る', blog %> 
        <%= link_to '編集する', edit_blog_path(blog) %> 
        <%= link_to '削除する', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </article>
    <% end %>
    <%= paginate @blogs %>
  </div>
    
  </div>
  <div class="col-sm-4 container tweet">
  <a class="twitter-timeline" data-width="500" data-height="600" data-theme="light" href="https://twitter.com/12a1070?ref_src=twsrc%5Etfw">Tweets by 12a1070</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<script>
  //kaminari + jscrollを使った無限スクロールの実装
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',// 無限に追加する要素は、どこに入れる？
      nextSelector: 'span.next:last a'
    });
  });
  //トップページへ
  $(window).on('scroll', function() {
   scrollHeight = $(document).height();
   scrollPosition = $(window).height() + $(window).scrollTop();
  });
</script>
